<section id="proyectos" class="a">
    <div class="contenedor-parrafos-flecha text-center">
        <p class="parrafo-proyecto fs-3 mb-3">A lo largo de mi carrera como Full-Stack, he tenido
            el privilegio de
            trabajar en proyectos de Front-End, Back-End y Full-Stack</p>
        <p class="oracion-proyecto fs-5">Aquí hay algunos que me gustaría compartir.</p>
        <span class="iconify" data-icon="ph:arrow-down-bold" style="width: 3rem; height: 3rem;"></span>
    </div>
    <div class="contenedor-proyectos">
        <div class="contenedor-informacion-proyecto-imagen">
            <div class="proyecto">
                <h3 class="tituloProyecto">The Camp</h3>
                <p class="parrafo-descripcion">Un proyecto de cerveceria multimarca para que no te quedas sin tu
                    cerveza favorita en un dia de campamento con tus amigos.</p>
                <div class="contenedor-botones d-flex justify-content-between">
                    <a type="button"
                        class="boton-VerProyecto">Ver
                        Proyecto</a>
                    <a type="button"
                        class="boton-VerCodigo"><span
                            class="iconify" data-icon="simple-icons:github"></span> Ver Codigo</a>
                </div>
            </div>
            <div class="contenedor-imagen-computadora-telefono">
                <img class="imagen-Computadora-telefono" src="assets/imagenComputadoraCelular.png"
                    alt="Imagen de computadora y telefono con la pagina de the camp">
            </div>
        </div>

        <div class="contenedor-informacion-proyecto-imagen">
            <div class="contenedor-imagen-computadora-telefono">
                <img class="imagen-Computadora-telefono" src="assets/imagenIpad.png"
                    alt="Imagen de computadora y telefono con la pagina de the camp">
            </div>
            <div class="proyecto">
                <h3 class="tituloProyecto">Petshop - Paraiso Animal</h3>
                <p class="parrafo-descripcion">El mejor Petshop para que les compres a tus peluditos los mejores
                    juguetes o los mejores medicamentos recomendados por los veterinarios para sus enfermedades.</p>
                <div class="contenedor-botones d-flex justify-content-between">
                    <a type="button"
                        class="boton-VerProyecto">Ver
                        Proyecto</a>
                    <a type="button"
                        class="boton-VerCodigo"><span
                            class="iconify" data-icon="simple-icons:github"></span> Ver Codigo</a>
                </div>
            </div>
        </div>

        <div class="contenedor-informacion-proyecto-imagen">
            <div class="contenedor-imagen-computadora-telefono">
                <img class="imagen-Computadora-telefono" src="assets/imagenIpad.png"
                    alt="Imagen de computadora y telefono con la pagina de the camp">
            </div>
            <div class="proyecto">
                <h3 class="tituloProyecto">Petshop - Paraiso Animal</h3>
                <p class="parrafo-descripcion">El mejor Petshop para que les compres a tus peluditos los mejores
                    juguetes o los mejores medicamentos recomendados por los veterinarios para sus enfermedades.</p>
                <div class="contenedor-botones d-flex justify-content-between">
                    <a type="button"
                        class="boton-VerProyecto">VerProyecto</a>
                    <a type="button" class="boton-VerCodigo"><span class="iconify" data-icon="simple-icons:github"></span> Ver Codigo</a>
                </div>
            </div>
        </div>

        <div class="contenedor-informacion-proyecto-imagen">
            <div class="proyecto">
                <h3 class="tituloProyecto">Alfonsina Homebanking</h3>
                <p class="parrafo-descripcion">Uno de los mejores homebanking acaba de llegar para tomar a sus
                    nuevos clientes y ofrecerles excelentes beneficios. Crea tu usuario ya y empeza a disfrutar
                    de los beneficios.</p>
                <div class="contenedor-botones d-flex justify-content-between">
                    <a type="button"
                        class="boton-VerProyecto">VerProyecto</a>
                    <a type="button" class="boton-VerCodigo"><span class="iconify" data-icon="simple-icons:github"></span> Ver Codigo</a>
                </div>
            </div>
            <div class="contenedor-imagen-telefono">
                <img class="imagen-telefono" src="assets/imagenTelefono.png"
                    alt="Imagen de computadora y telefono con la pagina de the camp">
            </div>
        </div>
    </div>
</section>