<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/Logo-portafolio.png" alt="Logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav fw-bold">
                <li class="nav-item">
                    <a class="nav-link" href="#hola">Hola</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#educacion">Educacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="#contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-column justify-content-center align-middle contenedor-boton-curriculum">
            <button class="boton-descarga-curriculum text-center ps-2 pe-2">Descargar Curriculum</button>
        </div>
    </div>
</nav>